<tr id=<%= dom_id(user) %>>
  <td><%= user.name %></th>
  <td><%= user.github_username %></td>
  <td><%= user.github_followers %></td>
  <td><%= user.github_following %></td>
  <td><%= user.github_stars %></td>
  <td><%= user.github_contributions %></td>
  <td><%= user.github_organization %></td>
  <td><%= user.github_localization %></td>
  <td class='actions d-flex'>
    <%= primary_button(t('helpers.buttons.show'), url: user.page_navigation.user_link, css_classes: ['action-margin-link']) %>
    <%= secondary_button(t('helpers.buttons.edit'), url: user.page_navigation.edit_user_link, css_classes: ['action-margin-link']) %>
    <%= danger_button(t('helpers.buttons.delete'), url: user.page_navigation.user_link, css_classes: ['action-margin-link'], alert_message: t('helpers.messages.confirm_question')) %>
  </td>
</tr>
