<div class="card-group mt-3">
  <div class="card text-center">
    <img class="card-img-top img-thumbnail profile-image mt-2" src="<%= @user.github_image_url %>" width=50 height=200 alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title"><%= @user.name %></h1>
      <div class='profile-links d-inline-flex flex-column'>
        <%= primary_button(t('.github_profile'), url: @user.url) %>
        <%= link_to @user.short_url, @user.short_url, class: 'card-link' %>
      </div>
    </div>
    <div class='card-footer d-flex justify-content-center align-items-center flex-column'>
      <div class='actions'>
        <%= secondary_button(t('helpers.buttons.edit'), url: @user.page_navigation.edit_user_link, css_classes: ['card-link']) %>
        <%= danger_button(t('helpers.buttons.delete'), url: @user.page_navigation.user_link, css_classes: ['card-link'], alert_message: t('helpers.messages.confirm_question')) %>
      </div>
      <small class="text-muted mt-3"><%= @user.last_updated_at %></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">

      <h3 class='text-center'><%= t('.github_profile_details') %></h3>
      <ul class="list-group d-flex align-content-center justify-content-center flex-column">
        <li class="list-group-item"><%= @user.github_username_message %></li>
        <li class="list-group-item"><%= @user.github_followers_message %></li>
        <li class="list-group-item"><%= @user.github_following_message %></li>
        <li class="list-group-item"><%= @user.github_stars_message %></li>
        <li class="list-group-item"><%= @user.github_contributions_message %></li>
        <li class="list-group-item"><%= @user.github_organization %></li>
        <li class="list-group-item"><%= @user.github_localization %></li>
      </ul>

    </div>
    <div class="card-footer d-flex justify-content-center align-items-center flex-column">
      <div class='actions'>
        <%= primary_button(t('helpers.buttons.syncronize'), url: @user.page_navigation.refresh_profile_page_link, css_classes: ['card-link'], method: :post) %>
      </div>
      <small class="text-muted mt-3"><%= @user.last_github_scrapping_update %></small>
    </div>
  </div>
</div>
